img{
    width: 170px;

}
body{
    height: 1000px;

}
/*ABSOLUTE positioning is like setting x,y coordinates
The element is pulled OUT of the page's NORMAL FLOW
Then we set the DISTANCE from two sides (top & left)
*/
#absolute{
    position: absolute;
    top: 530px;
    left: 500px;
    /*Z-INDEX layers the images, pick a big # if you want it it be in front, pick a small # if you want to make it go backwards*/
    z-index: 0;
}
/*FIXED positioning keeps the element in the smae place even when you scroll down
*/
#fixed{
    position: fixed;
    bottom: 0px;
    right:0px;
}
/*STICKY positionung is like fixed but it only sicks there when you scroll to it
*/
#sticky{
    position:sticky;
    top:10px;
    left: 10px;
}
#container{
    background:rgb(255, 255, 159);
    display:inline-block;
}
/*RELATIVE positioning lets you "nudge" an element from its normal position on the page (moves it relative to its static spot-colored square)
*/
#relative{
    position:relative;
    top:-20px;
    left:20px;
}